<h1>{{title}}</h1>
<h2>Employees</h2>
<section class="employees-container">
  <ul class="info-person-container" *ngFor="let person of persons"><h3>Employee {{persons.indexOf(person) + 1}}</h3>
    <figure class="avatar-container">
      <img [src]="person.avatarPic" alt="avatar profile photo">
    </figure>
    <div class="li-list">
      <li><strong>Name:</strong> {{person.firstName}}</li>
      <li><strong>LastName:</strong> {{person.lastName}}</li>
      <li><strong>Age:</strong> {{person.age}}</li>
      <li><strong>Eye color:</strong> {{person.eyeColor}}</li>
    </div>
  </ul>
</section>

