* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: red;
}

/* h2 {
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
} */

.employees-container {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  /* background-color: aqua; */
}

.employees-container .info-person-container{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  list-style-type: none;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.employees-container .info-person-container figure{
  width: 100%;
}

.employees-container .info-person-container figure img{
  width: 100%;
}

.fruits-container {
  margin-left: 2rem;
}

/* Market shipping */
.market-shipping {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.market-shipping .market-container{
  width: 40%;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1rem;
}

.market-shipping .market-container ul {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.market-shipping .market-container ul .li-market {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  border-radius: 1rem;
}

.market-shipping .market-container ul .li-market:hover {
  background-color: cadetblue;
}

.market-shipping .market-container ul .li-market figure {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10rem;
}

.market-shipping .market-container ul .li-market figure img{
  width: 80%;
  height: 80%;
}

.market-shipping .market-container ul .li-market .add-product {
  width: 2rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-radius: 5rem;
  background-color: transparent;
}

.market-shipping .market-container ul .li-market .add-product:hover {
  background-color: rgb(44, 85, 87);
  cursor: pointer;
  color: white;
}

.market-shipping .market-container ul .li-market .add-product1 {
  width: 2rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-radius: 5rem;
  background-color: transparent;
}

.market-shipping .market-container ul .li-market .add-product1:hover {
  background-color: transparent;
  border: none;
  cursor: not-allowed;
}

/* mini cart */
.market-shipping .mini-cart-container{
  width: 40%;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1rem;
}

.market-shipping .mini-cart-container .header-cart {
  width: 80%;
  padding: 1rem;
  display: flex;
}

.market-shipping .mini-cart-container ul {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.market-shipping .mini-cart-container ul li {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  border-radius: 1rem;
}

.market-shipping .mini-cart-container ul li:hover {
  background-color: rgb(216, 216, 216);
}

.market-shipping .mini-cart-container ul li figure {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10rem;
}

.market-shipping .mini-cart-container ul li figure img{
  width: 80%;
  height: 80%;
}

.market-shipping .mini-cart-container ul li .cart-quantity {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border: 0.01rem solid rgba(43, 43, 43, 0.479);
  border-radius: 0.5rem;
}

.market-shipping .mini-cart-container ul li .cart-quantity .subs-allowed{
  /* padding: 0.3rem; */
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: 0.01rem solid rgba(43, 43, 43, 0.479);
  border-radius: 0.3rem;
  cursor: pointer;
}

.market-shipping .mini-cart-container ul li .cart-quantity .subs-allowed:hover{
  background-color: white;
}

.market-shipping .mini-cart-container ul li .cart-quantity .subs-not-allowed{
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: 0.01rem solid rgba(43, 43, 43, 0.479);
  border-radius: 0.3rem;
  cursor: not-allowed;
}

.market-shipping .mini-cart-container ul li .cart-quantity p{
  margin: 0 1rem;
}

.market-shipping .mini-cart-container ul li .delete-mini-cart {
  width: 2rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-radius: 5rem;
}

.market-shipping .mini-cart-container ul li .delete-mini-cart:hover {
  background-color: rgb(202, 41, 41);
  cursor: pointer;
  color: white;
}

.market-shipping .mini-cart-container ul li .cart-quantity{
  display: flex;
}
/* mini cart */
/* Market shipping */

