/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
} */

.products-container {
  /* height: 20rem; */
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 3rem 2rem;
}

.products-container .info-product {
  width: 100%;
  height: 30rem;
  /* background-color: red; */
}

.products-container .info-product h2 {
  font-size: 1.4rem;
}

.products-container .info-product p {
  font-size: 1.2rem;
}

.products-container .info-product .img-product-container {
  width: 100%;
  height: 50%;
  border-radius: 2rem;
  overflow: hidden;
  /* object-fit: scale-down; */
  display: flex;
  /* background-color: aqua; */
}

.products-container .info-product .img-product-container img {
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

@media (min-width: 480px) {
  .products-container {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 3rem 3rem;
    /* color: rgb(208, 212, 214); */
  }

  .products-container .info-product {
    width: 100%;
    height: 30rem;
    /* background-color: red; */
  }

  .products-container .info-product h2 {
    font-size: 1.6rem;
  }

  .products-container .info-product p {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .products-container {
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 4rem 4rem;
  }

  .products-container .info-product {
    width: 100%;
    height: 30rem;
    /* background-color: red; */
  }

  .products-container .info-product h2 {
    font-size: 1.8rem;
  }

  .products-container .info-product p {
    font-size: 1.6rem;
  }
}

@media (min-width: 1281px) {
  .products-container {
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    gap: 5rem 5rem;
  }

  .products-container .info-product {
    width: 100%;
    height: 30rem;
    /* background-color: red; */
  }

  .products-container .info-product h2 {
    font-size: 1.8rem;
  }

  .products-container .info-product p {
    font-size: 1.6rem;
  }
}
